body {
	width: 1300px;
	margin: 0;
	padding: 0;
	font-family: ﻿MinionPro-Bold, ﻿AdobeInvisFont, ﻿MyriadProRegular;
	﻿ 
}

@font-face {
	font-family: 'AdobeInvisFont';
	src: url('../fonts/ADOIF_.PFB.eot');
	src: local('☺'), url('../fonts/ADOIF_.PFB.woff') format('woff'), url('../fonts/ADOIF_.PFB.ttf') format('truetype'), url('../fonts/ADOIF_.PFB.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BellMT';
	src: url('../fonts/Bell MT.eot');
	src: local('☺'), url('../fonts/Bell MT.woff') format('woff'), url('../fonts/Bell MT.ttf') format('truetype'), url('../fonts/Bell MT.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MinionPro-Bold';
	src: url('../fonts/Minion-Pro-Bold_30610.eot');
	src: local('☺'), url('../fonts/Minion-Pro-Bold_30610.woff') format('woff'), url('../fonts/Minion-Pro-Bold_30610.ttf') format('truetype'), url('../fonts/Minion-Pro-Bold_30610.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadProRegular';
	src: url('../fonts/Myriad Pro Regular.eot');
	src: local('☺'), url('../fonts/Myriad Pro Regular.woff') format('woff'), url('../fonts/Myriad Pro Regular.ttf') format('truetype'), url('../fonts/Myriad Pro Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MinionPro-Regula';
	src: url('fonts/Minion Pro Regular.eot');
	src: local('☺'), url('fonts/Minion Pro Regular.woff') format('woff'), url('fonts/Minion Pro Regular.ttf') format('truetype'), url('fonts/Minion Pro Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}





.header {
	height: 70px;
	background-color: #8c0a0d;
	
}

.logo {
	position: absolute;	
	width: 177px;	
	height: 41px;	
	background: url(../img/logo.png) no-repeat;
	margin: 15px 1056px 14px 67px;
}

.link {
	padding: 0;
	margin-top: 38px;
	/*margin-left: 369px;*/
	position: absolute;	
	list-style: none;

}



.link li {
	font-size: 14px;	
	display: inline;
	text-transform: uppercase;
}

.link li:nth-child(1) {
	margin-right: 30px;
	margin-left: 369px;
}

.link li:nth-child(2) {
	margin-right: 32px;
}

.link li:nth-child(3) {
	margin-right: 34px;
}

.link li:nth-child(4) {
	margin-right: 31px;
}

.link li:nth-child(5) {
	margin-right: 32px;
}

.link li:nth-child(6) {
	margin-right: 130px;
}

.link li:nth-child(7) {
	margin-right: 93px;

}

.link>li>a {
	color: rgb(248, 198, 105);
	text-decoration: none;	
}

.flag {
	position: absolute;
	width: 26px;
	height: 18px;
	/*margin: 38px 151px 17px 1160px; */
	margin-left: 1160px;
	margin-top: 38px;
}

.main {
	height: 687px;
	background: url(../img/main.png);
}

.bac {
	/*position: absolute;*/
	background: /*#c6bb9e*//* #cfc39e*/ rgba(207, 195, 158, .8);
	height: 687px;
	/*opacity: .8;*/

}

.slider {
	position: absolute;
	width: 1170px;
	height: 335px;
	background: url(../img/slider.png);
	margin: 26px 65px 30px 65px;
	outline: 4px solid #35040c;

}

.left {
	position: absolute;
	margin-top: 155px;
	margin-left: 28px;
}

.right {
	position: absolute;
	margin: 152px 28px 128px 1087px;

}

.title {
	position: absolute;
	/*margin-top: 30px;
	margin-left: 360px;*/
	width: 455px;
	height: 54px;
	top: 30px;
	left: 360px;
}

.title>span {
	font-size: 60px;
	font-family: BellMT, ﻿AdobeInvisFont, ﻿MyriadProRegular;
	color: #35040c;
}

.button {
	position: absolute;
	width: 189px;
	height: 42px;
	border-radius: 13%;
	background: #f6cc79;
	top: 108px;
	left: 493px;
	box-shadow: 0 5px 0  rgba(191, 103, 13, 1);/*#bf670d*/
}

.button>a {
	position: absolute;
	font-size: 22px;
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
	padding: 11px 18px 8px 20px;
	text-decoration: none;
	color: #030303;
	/*text-align: center;*/
}

.points {
	position: absolute;
	top: 311px;
	left: 555px;
	margin-bottom: 39px;
}

.points>a {
	margin-right: 9px;
}

.text1 {
	width: 269px;
	height: 64px;
	margin-top: 391px;
	margin-left: 65px;
	position: absolute;
	/*top: 391px;
	left: 65px;*/
	/*top: 391px;
	left: 65px;*/
}

.text1>span {
	font-family: ﻿MinionPro-Bold, ﻿AdobeInvisFont, ﻿MyriadProRegular;
	font-size: 17px;
	line-height: 1.5;
	font-weight: bold;
	color: rgb(3, 3, 3);
}

.text2 {
	width: 276px;
	height: 65px;
	margin-top: 390px;
	margin-left: 363px;
	position: absolute;
	/*padding-left: 29px; */
}

.text2>span {
	font-family: ﻿MinionPro-Bold, ﻿AdobeInvisFont, ﻿MyriadProRegular;
	font-size: 17px;
	line-height: 1.5;
	font-weight: bold;
	color: #000;
}

.text3 {
	height: 89px;
	width: 233px;
	position: absolute;
	margin-top: 391px;
	margin-left: 662px;
}

.text3>span {
	font-family: ﻿MinionPro-Bold, ﻿AdobeInvisFont, ﻿MyriadProRegular;
	font-size: 16px;
	line-height: 1.5;
	font-weight: bold;
	color: #000;
}

.text4 {
	width: 249px;
	height: 63px;
	position: absolute;
	margin-top: 391px;
	margin-left: 957px;
}

.text4>span {
	font-family: ﻿MinionPro-Bold, ﻿AdobeInvisFont, ﻿MyriadProRegular;
	font-size: 17px;
	line-height: 1.5;
	font-weight: bold;
	color: #000;
}

.exp1 {
	width: 259px;
	height: 135px;
	font-size: 15px;
	line-height: 1.5;
	font-family: ﻿MinionPro-Regular, ﻿AdobeInvisFont, ﻿MyriadProRegular;
	margin-top: 499px;
	margin-left: 65px;
	position: absolute;
}

.exp2 {
	width: 254px;
	height: 158px;
	font-size: 15px;
	line-height: 1.5;
	font-family: ﻿MinionPro-Regular, ﻿AdobeInvisFont, ﻿MyriadProRegular;
	position: absolute;
	margin-top: 499px;
	left: 362px;
}	

.exp3 {
	width: 252px;
	height: 159px;
	position: absolute;
	font-size: 15px;
	font-family: ﻿MinionPro-Regular, ﻿AdobeInvisFont, ﻿MyriadProRegular;
	line-height: 1.5;
	margin-top: 498px;
	left: 660px;
}

.exp4 {
	width: 276px;
	height: 133px;
	position: absolute;
	font-family: ﻿MinionPro-Regular, ﻿AdobeInvisFont, ﻿MyriadProRegular;
	font-size: 16px;
	line-height: 1.5;
	margin-top: 499px;
	left: 957px;
}

.footer {
	height: 70px;
	background-color: #8c0a0d;
}

.footer>a {
	text-decoration: none;
	color: rgb(248, 198, 105);
	margin-top: 36px;
	margin-left: 67px;
	font-size: 14px;
	position: absolute;
}

.address {
	min-width: 148px;
	height: 38px;
	font-size: 14px;
	margin-top: 12px;
	position: absolute;
	left: 361px;
}

.address>a {
	text-decoration: none;
	color: rgb(248, 198, 105);

}

.contact {
	height: 37px;
	min-width: 144px;
	font-size: 14px;
	position: absolute;
	margin-top: 12px;
	left: 658px;
	text-align: right;
}

.contact>a {
	text-decoration: none;
	color: rgb(248, 198, 105);
}

.email {
	height: 36px;
	min-width: 138px;
	font-size: 14px;
	position: absolute;
	margin-top: 12px;
	left: 957px;
}

.email>a {
	text-decoration: none;
	color: rgb(248, 198, 105);
}

.email>span {
	color: rgb(248, 198, 105);
}

.facebook {
	position: absolute;
	margin-top: 21px;
	left: 1164px;
}

.vk {
	position: absolute;
	margin-top: 21px;
	left: 1205px;
}
