body {
    margin: 0;
    padding: 0;
    color: #fff;
    /* width: 1200px; */
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

@media (max-width: 960px) {
    .image>img {
        margin-bottom: 20px;
    }
}

header {
    max-width: 1200px;
    max-height: 633px;
    min-height: 633px;  
    background: url('../img/bacground.png') no-repeat;
    /* background-size: contain; */
    /* border: 1px solid #000; */
    margin: 0 auto;
    width: 100%;
}

.main-header {
    display: inline-flex;
    align-items: center; 
    justify-content: center;
    height: 140px;
    width: 100%;
    background: rgba(0, 0, 0, .6);
}

.align_header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0px 48px;
}

.logo>img {
    display: block;
}

.logo>img:first-child {
    margin-bottom: 9px;
}

.logo {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

ul.nav {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

ul.nav>li:not(:last-child) {
    margin-right: 30px;
}

ul.nav>li>a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

ul.nav>li>a:hover {
    color: #0dd42b;
}

.socials {
    display: flex;
    align-items: center;
}

.socials>a {
    text-decoration: none;
}

.socials>a:not(:last-child) {
    margin-right: 35px;
}

 form {
    margin-top: 44px;
    margin-right: 45px;
    margin-left: auto;
    max-width: 350px; 
    height: 387px;
    background: rgba(0, 0, 0, .7);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    /* justify-content: center;  */
}

form>input {
    width: 250px;
    display: block;
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
}

form>input::placeholder {
    text-align: center;
    font-size: 18px;
    color: #fff;
}

form>input:not(:last-child) {
    margin-bottom: 27px;
}

form>p {
    font-size: 28px;
    color: #fff;
    text-align: center;
}

form>a {
    align-items: center;
    justify-content: center;
    display: inline-flex;
    /* align-self: flex-start; */
    width: 260px;
    height: 36px;
    background: rgb(10, 163, 33, 1);
    text-decoration: none;
    color: #fff;
    position: relative;
    top: 20px;
    left: 0px;
}

form>a:hover {
    color: #fff;
} 

main {
    max-width: 1200px;
    margin: 0 auto;
    /* max-height: 633px;
    min-height: 633px;   */
}

.about_company {
    font-size: 48px;
    text-align: center;
}

.main_info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.description {
    
    font-size: 18px;
}

.dynamic_container {
    height: 406px;
}

.services {
    max-width: 1200px;
    min-height: 406px;
    background: url('../img/bacground_main.png') no-repeat;
}

.text_service {
    color: #fff;
    font-size: 48px;
    margin-bottom: 40px;
}

.contetn_service {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.description_service {
    font-size: 24px;
    color: #fff;
    text-align: center;
    margin: 0;
}

.image_service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empty {
    max-width: 1200px;
    min-height: 580px;
    /* border: 1px solid #000; */
}

footer {
    margin: 0 auto;
    max-width: 1200px;
    min-height: 160px;
    background-color: black;
    padding: 0 50px;
}

.main_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    height: 160px;
}

.left_footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    height: 100%;
}

.left_footer>img {
    margin-bottom: 18px;
}

.right_footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.right_footer>p {
    color: #fff;
    font-size: 12px;
}

.right_footer>.nav {
    margin-bottom: 23px;
}

.socials_footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.socials_footer>a {
    text-decoration: none;
    /* margin-left: 35px; */
}