body {
	width: 750px;
	margin: 0;
	padding: 0;
	font-family: AdobeInvisFont, MyriadProRegular, sans-serif;
	﻿ 
}

@font-face {
	font-family: "AdobeInvisFont";
	src: url('../fonts/ADOIF_.PFB.eot');
	src: local('☺'), url('../fonts/ADOIF_.PFB.woff') format('woff'), url('../fonts/ADOIF_.PFB.ttf') format('truetype'), url('../fonts/ADOIF_.PFB.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "MyriadProRegular";
	src: url('../fonts/ofont.ru_Myriad Pro.eot');
	src: local('☺'), url('../fonts/ofont.ru_Myriad Pro.woff') format('woff'), url('../fonts/ofont.ru_Myriad Pro.ttf') format('truetype'), url('../fonts/ofont.ru_Myriad Pro.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}




.header {
	height: 235px;
	background-color: #2d7053;
}

.circle {
	position: absolute;
	width: 141px;
	height: 141px;
	border-radius: 100px;
	background-color: #fff;
	margin: 47px 571px 47px 38px;
}

.list {
	position: absolute;
	width: 134px;
	height: 131px;
	margin: 52px 379px 52px 237px;
}

.list ul {
	text-align: left;
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

.list li {
	font-size: 30px;
	color: #fff;
	list-style-type: none;
	
}

.menu {
	position: absolute;
	margin: 84px 44px 84px 622px; 
}

.menu div {
	border-radius: 10px;
	width: 84px;
	height: 12px;
	background-color: #fff;
	margin-bottom: 16px;
	
}

.photo {
	height: 466px;
	overflow: hidden;
	background: url(../img/room.png) no-repeat;
}

.black {
	position: relative;
	height: 467px;
	background: rgba(0, 0, 0, .3);
	left: 9px;
	bottom: 22px;
}

.button {
	position: absolute;
	width: 341px;
	height: 74px;
	background-color: #cb9223;
	margin: 368px 213px 25px 196px;
}

.text {
	text-transform: uppercase;
	text-align: center;
	font-size: 24px;
	line-height: 17px;
	color: #fff;
	position: relative;
	top: 28px;

}

.link_button {
	text-decoration: none;
	color: #fff;
}

.info {
	/*height: 700px;*/
	/*border: 1px solid #000;	*/
}

.block1 {
	display: inline-flex;
}

.picture {
	height: 247px;
	width: 247px;
	background: url(../img/154-9254@1X.png) no-repeat;
	border-radius: 50%;
	margin-top: 73px;
	margin-left: 44px;
	margin-bottom: 60px;
	/*margin: 73px 459px 60px 44px;*/
	/*float: left;*/
	/*display: inline-block;	*/
}

.fio {
	/*float: left;*/
	/*display: inline-block;*/
	/*display: flex;*/
	/*width: 100px;
	height: 100px;
	border: 1px solid #000;*/
	margin-left: 75px;
}

.name {
	font-size: 36px;
	margin-top: 134px;
	margin-bottom: 29px;
}

.speciality {
	font-size: 24px;
}

.block2 p {
	font-size: 24px;
	margin-left: 44px;
	margin-right: 116px;
	text-align: left;
}

.cause p {
	font-size: 36px;
	margin-left: 44px;
	margin-right: 116px;
}

.cause ul {
	margin-bottom: 44px;
}
.cause li {
	font-size: 24px;
	list-style-type: none;
}

.cause li:before {
	content: '-';
	margin-right: 10px;
}

.button2 {
	/*position: absolute;*/
	width: 341px;
	height: 74px;
	background-color: #cb9223;
	margin-right: 191px;
	margin-left: 218px;
	margin-bottom: 50px;
}

.footer {
	background-color: #888888;
	height: 153px; 
}

.circle2 {
	position: absolute;
	background-color: #fff; 
	width: 96px;
	height: 96px;
	border-radius: 50%;
	margin: 29px 609px 28px 45px;	
}
span {
	font-family: serif;
}
.footer p {
	position: absolute;
	font-size: 18px;
	color: #fff;
	margin: 102px 226px 34px 325px;
}

.footer a {
	text-decoration: none;
	color: #fff;
	font-size: 18px; 
}

.tel {
	position: absolute;
	margin: 56px 44px 82px 570px;
}

.mail {
	position: absolute;
	margin: 98px 44px 38px 562px;
}