body, p, ul {
    margin: 0;
    padding: 0;
}

@font-face {
	font-family: 'Impact';
	src: url('../fonts/impact2.eot');
	src: local('☺'), url('../fonts/impact2.woff') format('woff'), url('../fonts/impact2.ttf') format('truetype'), url('../fonts/impact2.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AdobeInvisFont';
	src: url('../fonts/ADOIF_.PFB.eot');
	src: local('☺'), url('../fonts/ADOIF_.PFB.woff') format('woff'), url('../fonts/ADOIF_.PFB.ttf') format('truetype'), url('../fonts/ADOIF_.PFB.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadPro-Regular';
	src: url('../fonts/Myriad Pro Regular.eot');
	src: local('☺'), url('../fonts/Myriad Pro Regular.woff') format('woff'), url('../fonts/Myriad Pro Regular.ttf') format('truetype'), url('../fonts/Myriad Pro Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

header {
    /* display: grid;
    grid-template-columns: 1fr; */
    width: 1369px;
    height: 771px;
    background-image: url('../img/Layer\ 2@1X.png');
}

.head {
    padding-top: 62px;
    display: grid;
    align-items: center;
    grid-template-columns: 1.8fr 1.7fr .6fr;
}

.logo {
    padding-left: 23px;
    display: inline-block;
}

.logo>img {
    display: block;
}

.logo>img:nth-child(2) {
    margin-top: 8px;
}

.head>ul>li {
    /* padding-left: 20px; */
    display: inline-block;
}

.head>ul>li>a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px; 
    font-family: 'Impact', 'AdobeInvisFont', 'MyriadPro-Regular';
}

.head>ul>li:not(:last-child) a {
    margin-right: 35px;
}

.button>a:nth-child(1) {
    text-decoration: none;
}

.button>a:nth-child(2) {
   padding: 10px 15px;
   border: 1px solid #fff;
   text-decoration: none;
   color: #fff;
   text-transform: uppercase;
   font-family: 'Impact', 'AdobeInvisFont', 'MyriadPro-Regular';
   letter-spacing: 3px;
   background: url('../img/Romb.png') no-repeat 102% 50%;
}

.header_text {
    display: grid;
    justify-content: center;
    padding-top: 38px;
    /* text-align: center; */
}

.header_text>p:nth-child(1) {
    font-size: 10px;
    color: rgb(213, 150, 186);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.header_text>p:nth-child(2) {
    font-size: 30px;
    color: #fff;
    font-family:'Impact', serif;
}

.header_text>p:nth-child(3) {
    color: #97155b;
    font-size: 14px;
    margin-top: 38px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.header_text>a {
    margin-top: 55px;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 394px);
    grid-template-rows: 522px;
    justify-content: space-around;
    width: 1369px;
    height: 649px;
    /* height: 1366px; */
    /* border: 1px solid #000; */
    background-color: #a99494;
}

.main_first, .main_second, .main_third {
    /* border: 1px solid #000; */
    box-shadow: 4px 6px 8px #000;
    background-color: #fff;
}

.main_first_one, .main_first_three, .main_first_two {
    width: 394px;
    height: 522px;
    background-color: #fff;
    position: relative;
    /* border-right: 1px solid #000; */
    box-shadow: 4px 6px 8px #000;
    left: -20px;
}

.photo {
    position: relative;
    margin-left: 47px;
    top: -46px;
    width: 340px;
    height: 224px;
}

.first_photo {
    background: url('../img/first_dogs.png');
}

.second_photo {
    background: url('../img/second_dogs.png') -45px -55px;
}

.third_photo {
    background: url('../img/third_room.png');
}

.label {
    margin-left: 48px;
}

.label>p:nth-child(1) {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.label>div {
    margin-top: 15px;
    width: 123px;
    height: 10px;
    background-color: #d60c18;
}

.label>p:nth-child(3) {
    margin-top: 15px;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    width: 1366px;
    height: 568px;
    display: grid;
}

footer>a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    padding-top: 121px;
    display: flex;
    justify-content: end;
    padding-right: 100px;
}

footer>a::before {
    content: '<';
    margin-right: 15px;
}