body {
	margin: 0;
	padding: 0;
	
	﻿ 
}


.main {
	width: 755px;
	background-color: #f2f2f2;
}

.breakfast {
	height: 608px;
}

.name {
	
	font-weight: 500;
	font-size: 20px;
	color: #531603;
}

._a {
	padding-top: 32px;
	padding-left: 22px;
	margin-top: 0;
	margin-bottom: 25px;
}

.wave {
	padding-left: 22px;
}

.container {
	margin-left: 21px;
	margin-right: 35px;
	margin-top: 25px;
	margin-bottom: 0;
	display: inline-flex;
}



.pancake {
	width: 140px;
	height: 95px;
	background: url(../img/pancake.png);
}


.call {
	font-size: 20px;
	color: #bb8d3f;
	padding-left: 21px;
}

.dotted {
	height: 1px;
	border-bottom: thin #a8a8a8 dotted;
	
}

.line1 {
	width: 368px;
	padding-top: 16px;
	margin-left: 9px;
}

.line1:after {
	content: '$ 2,00';
	display: inline-block;
	font-size: 20px;
	position: absolute;
	margin-left: 383px;
	top: 123px;
	color: #979705;

}	

.description {
	position: absolute;
	margin-top: 53px;
	margin-left: 160px;
	color: #536571;
	
}

.eggs {
	width: 140px;
	height: 95px;
	background: url(../img/eggs.png);
}


.two {
	height: 18px;
}
.two:hover {
	color: #969505;
}
.line2 {
	width: 250px;
	padding-top: 17px;
	margin-left: 10px;
}

.line2:after {
	content: '$ 4,50';
	display: inline-block;
	font-size: 20px;
	position: absolute;
	margin-left:264px;
	top: 249px;
	color: #979705;
}	



.ham {
	width: 140px;
	height: 95px;
	background: url(../img/eggsham.png);
}

.line3 {
	width: 265px;
	padding-top: 17px;
	margin-left: 18px;
}

.line3:after {
	content: '$ 12,50';
	display: inline-block;
	font-size: 20px;
	position: absolute;
	margin-left:284px;
	top: 373px;
	color: #979705;

}	

.porridge {
	width: 140px;
	height: 95px;
	background: url(../img/porridge.png);
}

.line4 {
	width: 255px;
	padding-top: 17px;
	margin-left: 18px;
}

.line4:after {
	content: '$ 10,15';
	display: inline-block;
	font-size: 20px;
	position: absolute;
	margin-left:293px;
	top: 497px;
	color: #979705;
}

._b {
	padding-top: 32px;
	padding-left: 22px;
	margin-bottom: 25px;
}

.carpaccio {
	width: 140px;
	height: 95px;
	background: url(../img/carpaccio.png);
}

.line5 {
	width: 290px;
	padding-top: 17px;
	margin-left: 18px;
}

.line5:after {
	content: '$ 8,00';
	display: inline-block;
	font-size: 20px;
	position: absolute;
	margin-left:311px;
	top: 733px;
	color: #979705;
}

.salmon {
	width: 140px;
	height: 95px;
	background: url(../img/salmon.png);
}

.line6 {
	width: 265px;
	padding-top: 17px;
	margin-left: 18px;
}

.line6:after {
	content: '$ 6,50';
	display: inline-block;
	font-size: 20px;
	position: absolute;
	margin-left:284px;
	top: 857px;
	color: #979705;
}

.potatoes {
	width: 140px;
	height: 95px;
	background: url(../img/potatoes.png);
}

.line7 {
	width: 210px;
	padding-top: 17px;
	margin-left: 18px;
}

.line7:after {
	content: '$ 12,50';
	display: inline-block;
	font-size: 20px;
	position: absolute;
	margin-left:218px;
	top: 981px;
	color: #979705;
}

._c {
	padding-top: 32px;
	padding-left: 22px;
	margin-bottom: 25px;
}

.rucola {
	width: 140px;
	height: 95px;
	background: url(../img/Rucola.png);
}

.line8 {
	width: 235px;
	padding-top: 17px;
	margin-left: 18px;
}

.line8:after {
	content: '$ 3,50';
	display: inline-block;
	font-size: 20px;
	position: absolute;
	margin-left:255px;
	top: 1203px;
	color: #979705;
}

.warm {
	width: 140px;
	height: 95px;
	background: url(../img/warm.png);
}

.line9 {
	width: 262px;
	padding-top: 17px;
	margin-left: 18px;
}

.line9:after {
	content: '$ 8,50';
	display: inline-block;
	font-size: 20px;
	position: absolute;
	margin-left:283px;
	top: 1326px;
	color: #979705;
}

.various {
	width: 140px;
	height: 95px;
	background: url(../img/various.png);
}

.line10 {
	width: 275px;
	padding-top: 17px;
	margin-left: 18px;
}

.line10:after {
	content: '$ 10,50';
	display: inline-block;
	font-size: 20px;
	position: absolute;
	margin-left: 295px;
	top: 1450px;
	color: #979705;
}

._d {
	padding-top: 32px;
	padding-left: 22px;
	margin-bottom: 25px;
}

.three {
	width: 140px;
	height: 95px;
	background: url(../img/Rucola.png);
}

.line11 {
	width: 310px;
	padding-top: 17px;
	margin-left: 18px;
}

.line11:after {
	content: '$ 6,80';
	display: inline-block;
	font-size: 20px;
	position: absolute;
	margin-left: 333px;
	top: 1672px;
	color: #979705;
}

.borsh {
	width: 140px;
	height: 95px;
	background: url(../img/warm.png);
}

.line12 {
	width: 250px;
	padding-top: 17px;
	margin-left: 18px;
}

.line12:after {
	content: '$ 4,50';
	display: inline-block;
	font-size: 20px;
	position: absolute;
	margin-left: 273px;
	top: 1796px;
	color: #979705;
}

.chicken {
	width: 140px;
	height: 95px;
	background: url(../img/various.png);
}

.line13 {
	width: 315px;
	padding-top: 17px;
	margin-left: 18px;
}

.line13:after {
	content: '$ 18,50';
	display: inline-block;
	font-size: 20px;
	position: absolute;
	margin-left: 333px;
	top: 1920px;
	color: #979705;
}

.cream {
	width: 140px;
	height: 95px;
	background: url(../img/porridge.png);
}

.line14 {
	width: 280px;
	padding-top: 17px;
	margin-left: 18px;
}

.line14:after {
	content: '$ 7,15';
	display: inline-block;
	font-size: 20px;
	position: absolute;
	margin-left: 299px;
	top: 2043px;
	color: #979705;
}

._e {
	padding-top: 32px;
	padding-left: 22px;
	margin-bottom: 25px;
}

.halibut {
	width: 140px;
	height: 95px;
	background: url(../img/Rucola.png);
}

.line15 {
	width: 280px;
	padding-top: 17px;
	margin-left: 18px;
}

.line15:after {
	content: '$ 6,80';
	display: inline-block;
	font-size: 20px;
	position: absolute;
	margin-left: 295px;
	top: 2265px;
	color: #979705;
}

.pork {
	width: 140px;
	height: 95px;
	background: url(../img/warm.png);
}

.line16 {
	width: 195px;
	padding-top: 17px;
	margin-left: 18px;
}

.line16:after {
	content: '$ 4,50';
	display: inline-block;
	font-size: 20px;
	position: absolute;
	margin-left: 204px;
	top: 2389px;
	color: #979705;
}

.beef {
	width: 140px;
	height: 95px;
	background: url(../img/various.png);
}

.line17 {
	width: 165px;
	padding-top: 17px;
	margin-left: 18px;
}

.line17:after {
	content: '$ 18,50';
	display: inline-block;
	font-size: 20px;
	position: absolute;
	margin-left: 181px;
	top: 2513px;
	color: #979705;
}

.ouzbek {
	width: 140px;
	height: 95px;
	background: url(../img/porridge.png);
}

.line18 {
	width: 330px;
	padding-top: 17px;
	margin-left: 18px;
}

.line18:after {
	content: '$ 7,15';
	display: inline-block;
	font-size: 20px;
	position: absolute;
	margin-left: 350px;
	top: 2637px;
	color: #979705;
}
