body {
    /* border: 1px solid #000; */
    width: 1300px;
    /* height: 2400px; */
    margin: 0;
    padding: 0;
    padding-left: 45px;
    padding-right: 66px;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

@font-face {
	font-family: 'MinionPro-Bold';
	src: url('..fonts/Minion-Pro-Bold_30610.eot');
	src: local('☺'), url('..fonts/Minion-Pro-Bold_30610.woff') format('woff'), url('..fonts/Minion-Pro-Bold_30610.ttf') format('truetype'), url('..fonts/Minion-Pro-Bold_30610.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadPro-Regular';
	src: url('..fonts/Myriad Pro Regular.eot');
	src: local('☺'), url('..fonts/Myriad Pro Regular.woff') format('woff'), url('..fonts/Myriad Pro Regular.ttf') format('truetype'), url('..fonts/Myriad Pro Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

header>section {
    display: flex;
    justify-content: space-between;
    /* padding-left: 45px; */
    /* align-items: baseline; */
}

header>section>ul {
    padding-left: 81px;
    padding-top: 25px;
    display: inline-flex;
    list-style: none;
}

header>section>ul>li>a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    margin-right: 20px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'MinionPro-Bold', 'MyriadPro-Regular';

}

.circle {
    /* margin-top: 20px; */
    width: 28px;
    height: 28px;
    border-radius: 100%;
    background-color: #aeaeae;
}

.language {
    margin-left: 5px;
    /* margin-top: 25px; */
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    font-family: 'MinionPro-Bold', 'MyriadPro-Regular';
}

.language::after {
    content: url('../img/burger.png');
    margin-left: 6px;
}
.link_p {
    position: relative;
    top: -100px;
}
.location {
   
    /* padding-left: 45px; */
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-family: 'MyriadPro-Regular';
}

main>section {
    display: flex;
    justify-content: space-between;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 914px;
    height: 355px;
    background-color: #aeaeae;
}

.slider>img {
    padding-top: 42px;
}

main {
    position: relative;
    top: -80px;
}

.title {
    font-size: 30px;
    font-weight: bold;
}

.main_text {
    padding-top: 49px;
    width: 914px;
    /* height: 664px; */
    display: flex;
    flex-wrap: wrap;
}

.main_text>p {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 49px;
}

p.text__title {
    font-size: 18px;
    font-weight: bold;
}

footer>section {
    display: flex;
    justify-content: space-between;
}

footer>section>p {
    padding-top: 23px;
    font-weight: 600;
    font-size: 14px;
}

footer>section>p>a {
    text-decoration: none;
    color: #000;
}

footer>section>p:nth-child(3) {
    text-align: right;
}

.socials {
    display: flex;
    /* justify-content: space-between; */
    padding-top: 29px;
}

.socials>a {
    margin-left: 5px;
    text-decoration: none;
}